﻿/*Estilo para el manejo del Combo Dinamico y TPL*/
    
    .search-item {
        font          : normal 11px tahoma, arial, helvetica, sans-serif;
        padding       : 3px 10px 3px 10px;
        border        : 1px solid #fff;
        border-bottom : 1px solid #eeeeee;
        white-space   : normal;
        color         : #555;
    }
        
    .search-item h3 {
        display     : block;
        font        : inherit;
        font-weight : bold;
        color       : #222;
    }

    .search-item h3 span {
        float       : right;
        font-weight : normal;
        margin      : 0 0 5px 5px;
        width       : 100px;
        display     : block;
        clear       : none;
    } 
        
    p { width: 650px; }
        